<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Book Library</title>
	<link rel="shortcut icon" href="%%SERVERURL%%/res/icon.svg">
	<link rel="stylesheet" type="text/css" href="%%SERVERURL%%/lib/bootstrap.min.css">
</head>


<body class="bg-light">
	<nav class="navbar navbar-dark bg-dark justify-content-between">
		<a class="navbar-brand text-white">
			<img src="%%SERVERURL%%/res/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			Book Library
		</a>
		<div>
			<button class="btn btn-outline-danger my-2 my-sm-0"
					onclick="window.location.href = '%%SERVERURL%%/index.php?logout';">
				Logout
			</button>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<aside class="col-2 px-0 mt-3 fixed">
				<div class="bg-dark text-white px-3">
					<div>Categories</div>
					<hr class="col-0 px-0 bg-white">
					<div>
						a
					</div>
				</div>
			</aside>
			
			<main class="col h-100">
				<div class="row">
					<div class="col-12 py-4">
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control" type="search" placeholder="Search">
							<button class="btn btn-outline-dark ml-0" type="submit">Search</button>
							<select class="form-control ml-3">
								<option value="newest">Newest</option>
								<option value="alphabetical">Alphabetical</option>
								<option value="mostread">Most read</option>
								<option value="bycategory">By category</option>
							</select>
						</form>
						<hr class="bg-dark">
						<div class="col-12 container row justify-content-center align-self-center">
							<div class="card" style="width: 16rem;">
								<div class="card-body">
									<p class="font-weight-bold text-success display-2">0</p>
									<p class="card-text text-center h5">books read so far</p>
								</div>
							</div>
							<div class="card ml-3" style="width: 12rem;">
								<div class="card-body">
									<p class="font-weight-bold text-primary display-2">0</p>
									<p class="card-text text-center h5">books per week average</p>
								</div>
							</div>
							<div class="card ml-3" style="width: 16rem;">
								<div class="card-body">
									<p class="font-weight-bold text-info display-2">0</p>
									<p class="card-text text-center h5">books in the last 365 days</p>
								</div>
							</div>
						</div>
						<div>
							<form class="form-inline my-2 my-lg-0">
								<button class="btn btn-outline-dark" type="submit">Create new file</button>
							</form>
						</div>
						<hr class="bg-dark">
						<div class="col-12 container row justify-content-center align-self-center">
							<!-- Section to display content -->
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>